body{
	background-color:#E8F7F7;
}
.jumbrotron{
	background-color:#B4403C !important;
	padding:10px 10px 10px 10px;
}
.container{
	margin-top:80px;
}
footer{
	color:#000000;
    margin: auto;
    width: 400px;
}
form{
	color:#000000;
	background-color:blue;
}
hr{
	width:200px;
	border-top: 2px sold #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
#Registration_panel{
	font-size:30px;
}
#search{
	background-color:red;
    height: 200px;
    width: 80%;
    margin: 0 auto;
    opacity:0.5;
    border-radius:6px;
    margin-bottom:10px;
}
#search_title{
	font-weight:500;
	font-size:4em;
	font-family:"Gill Sans Extrabold, sans-serif";
	margin-right:10px;
}
#search_bar{
	width:80%;
	height:40px;
	margin-left:10px;
	border-radius:6px;
}