body{
	background-color:#E8F7F7;
}
.jumbrotron{
	background-color:#B4403C !important;
<<<<<<< HEAD
=======
	padding:10px 10px 10px 10px;
>>>>>>> a4181e3407df1e6745506e31a582968b8adc76ef
}
.container{
	margin-top:80px;
}
footer{
	color:#000000;
    height: 100px;
    margin: auto;
    width: 400px;
}
form{
	color:#000000;
}
#search{
<<<<<<< HEAD
	color:#000000;
	
    height: 100%;
<<<<<<< HEAD
    width: 400px;
    margin-right:100px;
}
=======
    margin: 0 auto;
    width: 40%;
    vertical-align: middle;
}
#search_bar{
	background-color:#D49A7D;
}
#search_button{
	display:inline;
}
>>>>>>> 280386d8d51a61aae2f387079f452244f9c47303
=======
	background-color:red;
    height: 200px;
    width: 80%;
    margin: 0 auto;
    opacity:0.5;
    border-radius:6px;
    margin-bottom:10px;
}
#search_title{
	font-weight:500;
	font-size:4em;
	font-family:"Gill Sans Extrabold, sans-serif";
	margin-right:10px;
}
#search_bar{
	width:80%;
	height:40px;
	margin-left:10px;
	border-radius:6px;
}
#movie_img{
	background-color:green;
}
>>>>>>> a4181e3407df1e6745506e31a582968b8adc76ef
