<!DOCTYPE html>
<html ng-app>
<head>
<meta charset="ISO-8859-1">
<title>Home</title>

<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="static/css/index.css" />
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><strong>Movie Theate</strong>r</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="static/search"><i class="glyphicon glyphicon-home"></i> Main Page </a></li>
              <li><a href="static/index.html"><i class="fa fa-sign-in"></i> Log Out</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
</nav>

<div id="main_page" class="jumbotron" >
	<h2 id="home_text"> Welcome to Our Company</h2>
					<p> With this application Users can make accounts and login to purchase movie tickets for future dates, 
					and can also ask for a reimbursement as long as it is two days before the date they bought the ticket(s) for.</p>
					
					<p> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas.</p>
					
					<p> ut aut reiciendis voluptatibus maiores alias consequatur aut </p>

<div data-ng-controller="fill" id="search" class="input-group input-group-lg" >
		
		<p id="search_title">Search Movies. Hang out. Have Fun.</p>
		<input id="search_bar" type="search" placeholder="Search...." class="form-control" data-ng-model="getMovies">
		<button id="search_button" class="btn btn-danger" type="button">Search</button>
		<ul ng-if="getMovies" ng-repeat="x in MOVIES | filter:getMovies" >
			<li id="search_box">
				{{"Movie Tile: "+x.mTitle}} {{"Length: "+ x.mLength}} {{"Time: "+ x.releaseDate}} <button class="btn btn-primary">Buy Ticket</button>
			</li>
		</ul>
        
		
</div>

</div>
	<div id="show" class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<i class="fa fa-camera-retro fa-5x"></i>
					<p>No more of a hassle to buy tickets, and the movies you love will always be played</p>
				</div>
				<div class="col-md-4">
				<i class="fa fa-picture-o fa-5x" aria-hidden="true"></i>
					<p>Watch movies and have fun with friends.</p>
				</div>
				<div class="col-md-4">
					<i class="fa fa-file-video-o fa-5x" aria-hidden="true"></i>
					<p>Always find movies with times that work for you</p>
				</div>
			</div>
		</div>
	</div>
<div class="footer">
<footer><p> MovieTheater Inc. &copy; 2017 - <a href="#"> Terms </a> &middot; <a href="#"> Privacy</a> </p></footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script type="text/javascript" src="static/js/jquery-1.12.3.js"></script>
<script type="text/javascript" src="static/js/bootstrap.js"></script>
<script type="text/javascript" src="static/js/home.js"></script>

</body>
</html>
