<!DOCTYPE html>
<html ng-app = "Manager">
<head>
<meta charset="ISO-8859-1">
<title>Manager</title>

<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="static/css/index.css" />


</head>
<body id = "manager">
<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavigationPanel">
	<div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><strong>Manager Page</strong></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a type="button" ng-click="HomePage()"><i class="fa fa-home" aria-hidden="true"></i>Home Page</a></li>
              <li><a type="button" ng-click="LogOut()"><i class="fa fa-sign-in"></i>Log Out</a></li>
            </ul>
          </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="resize">
<h2 class="man_text">Revenue</h2>
 <div class="resized">
		<table id="t01" data-ng-controller ="report">
		
  <tr>
    <th ng-model="names">Movie Name</th> 
    <th>Revenue</th>
    <th>Audience</th>
    <th>Showtime</th>
  </tr>
 

   <tr ng-repeat ="x in MOVIEINFO " >
    <th>{{x.movie.mTitle}} </th> 
    <th>{{(x.onlineTot*x.hall.hCost)+(x.walkTot*x.hall.hCost)}} </th>
    <th>{{x.onlineTot+x.walkTot}} </th>
    <th ng-bind="x.showtime.showtime">
  </tr>
  
  
  
</table>
</div>

<div class="resize">
<h2 class="man_text">Refunds</h2>
 <div class="resized">
		<table id="t01" data-ng-controller ="refund">
		
  <tr>
    <th>Account</th>
    <th>MovieInfo</th>
    <th>Approve/Deny</th>
  </tr>
 

   <tr ng-repeat ="x in TRANSACTIONS | orderBy:'requestRef'" >
    <td>{{x.accounts.uname}} </td> 
    <td>{{x.movieInfo.movie.mTitle}} </td>
    <td><button class="btn btn-danger">Deny</button> <button class="btn btn-success">Submit</button></td>
  </tr>
   
</table>
</div>
</div>

<div class="resize" id="move-left">
<h2 class="man_text">Schedule For Next Week</h2>
 <div class="resized">
		<table id="t01" data-ng-controller ="switchHalls">
		
  <tr>
    <th>MovieInfo</th>
    <th>Schedule</th>
  </tr>
 

   <tr ng-repeat ="x in MOVIEINFO | limitTo:3" >
    <td ng-model="movie">{{x.movie.mTitle}} </td> 
    <td  type="button" data-toggle="modal" data-target="#modal" ng-click="displayShow"><button class="btn btn-warning">Switch</button></td>
  </tr>
   
</table>
</div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times</button>
				<h4 class="modal-title">Schedule Movie For Next Week</h4>
			</div>
			<div class="modal-body">
				<form>
				<div class="form-group">
					<label>Movie</label>
					<input type="text" ng-model="changeMovie" />
				</div>
					<div class="form-group">
					<label>Halls</label>
						<select ng-controller="showMovie">
							<option ng-model="hall_time" ng-repeat="x in MOVIEINFO | limit:3" values="{{x.hall.hCapacity}}">{{x.hall.hCapacity}}</option>
						</select>
						
						<label>Pick Date:</label>
						<div class="input-group date" date-provide="datepicker">
							<input type="date" name="date" ng-model="show" id="myLocalDate" value="Pick Date">
						</div>
						
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="switches(x)">Update</button>
			</div>
		</div>
	</div>
</div>
<div class="footer">
<footer><p> MovieTheater Inc. &copy; 2017 - <a href="#"> Terms </a> &middot; <a href="#"> Privacy</a> </p></footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script type="text/javascript" src="static/js/jquery-1.12.3.js"></script>
<script type="text/javascript" src="static/js/bootstrap.js"></script>
<script type="text/javascript" src="static/js/manager.js"></script>
</body>
</html>