<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Configure our database -->
		<property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@tgillette1706cuny.c8apmfvx2unh.us-east-2.rds.amazonaws.com:1521:ORCL</property>
		<property name="hibernate.connection.username">theater</property>
		<property name="hibernate.connection.password">p4ssw0rd</property>
		<property name="hibernate.connection.pool_size">35</property>
		
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		
		<!-- We can some hibernate specific things -->
		<property name="show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		
		<!-- Annotation -->
		<mapping class="com.revature.beans.TestMovie"/>
		<mapping class="com.revature.beans.Accounts"/>
		<mapping class="com.revature.beans.Movies"/>
		<mapping class="com.revature.beans.Showtimes"/>
		<mapping class="com.revature.beans.Halls"/>
		<mapping class="com.revature.beans.MovieInfo"/>
		
		<!-- The property that must not be used -->
	</session-factory>
</hibernate-configuration>
