#login_page{
	background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWE12BFySQKh-VzGRtFGVFu3E2yI0m0Yiiufw-XWHIsaVefohpPg');
	background-repeat: no-repeat;
	background-size: cover;
}
.jumbrotron{
	background-color:#B4403C;
	padding:10px 10px 10px 10px;
}
#home_text{
	text-align:center;
}
.container{
	margin-top:80px;
}
#main_page{
	height:600px;
	background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWE12BFySQKh-VzGRtFGVFu3E2yI0m0Yiiufw-XWHIsaVefohpPg');
	background-repeat: no-repeat;
	background-size: cover;
	color:white;
	font-size:10px;
	text-align:center;
	opacity:0.8;
}
.footer{
	color:#7A2A29;
    margin: 0 auto;
    width: 400px;
    font-size:1em;
    font-weight:bold;
}
form{
  background-color:#A13657;
  border: 1px solid #c6c7cc;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 100%;
  opacity:0.8;
  padding:20px;
  margin-left:10px;
  color:white;
}
.form-group{
	float:left;
	margin-right:6px;
}
#user-form{
  background-color:#A13657;
  border: 1px solid #c6c7cc;
  border-radius: 2px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 240px;
  opacity:0.8;
  float:right;
}

h2{
	color:white;
	font-family:"Verdana";
	font-weight:700;
	font-size:5em;
	font-family:"Gill Sans Extrabold, sans-serif";
}
.fa{
	margin:0 auto;
}
hr{
	width:80%;
	border-top: 2px sold #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
#show{

	background-image: url("static/img/movie.jpg");
	background-repeat: no-repeat;
}
.form_length{
	width:80%;
	margin-left:4px;
}
#search{
	background-color:red;
    height: 200px;
    width: 80%;
    margin: 0 auto;
    opacity:0.8;
    border-radius:6px;
    margin-bottom:10px;
}
#search_title{
	color:white;
	font-weight:700;
	font-size:5em;
	font-family:"Gill Sans Extrabold, sans-serif";
	margin-left:10px;
}
#search_bar{
	width:80%;
	height:40px;
	margin-left:10px;
	border-radius:6px;
}