body{
	background-color:white;
}
.jumbrotron{
	background-color:#B4403C;
	padding:10px 10px 10px 10px;
}
.container{
	margin-top:80px;
}
footer{
	color:#000000;
    margin: auto;
    width: 400px;
}
form{
  background-color:#A13657;
  border: 1px solid #c6c7cc;
  border-radius: 2px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 100%;
  opacity:0.8;
  padding:20px;
}
#user-form{
  background-color:#A13657;
  border: 1px solid #c6c7cc;
  border-radius: 2px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 240px;
  opacity:0.8;
  float:right;
}

h2{
	color:black;
	font-family:"Verdana";
}
hr{
	width:80%;
	border-top: 2px sold #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
#show{
	margin:0 !important;
	min-height:450px;
	background: url(static/img/movie.jpg) no-repeat;
}
.form_length{
	width:80%;
	margin-left:4px;
}
#search{
	background-color:red;
    height: 200px;
    width: 80%;
    margin: 0 auto;
    opacity:0.5;
    border-radius:6px;
    margin-bottom:10px;
}
#search_title{
	font-weight:500;
	font-size:4em;
	font-family:"Gill Sans Extrabold, sans-serif";
	margin-right:10px;
}
#search_bar{
	width:80%;
	height:40px;
	margin-left:10px;
	border-radius:6px;
}
